*{
    margin: 0;
    padding: 0;
}
header{
    background: #FFF
}
/* Navbar styles */
nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo {
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav-logo img{
    width: 86.041px;
    height: 40px;
}
.nav-header{
    text-align: center;
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}
.nav-header span{
    color: #FF42A5;
}
.nav-list-items{
    display: flex;
    margin-top: 5px;
    
}
.li{
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

}
.nav-li{
    display: flex;
    margin-top: 5px;
    margin-left: 25px;
}
.common-text{
    list-style: none;
    color: #3C354F;
    /* text-align: center; */
    
}

.nav-li-container{
    border: 0px solid black;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
    display: flex;
    margin-left: 30px;
}
.icon{
    margin-left: 10px;
}
/* banner section styles */
h1{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 140px;
}
h2{
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    color: #F948B2 ;
    margin-top: 20px; 
}
.banner-section-container{
    display: flex;
    justify-content: space-evenly;
}
 .banner-images img{
    max-width: 100%;
    max-height: 80%;
}
.banner-section{
    background: url(images/Group\ 14.png);
    background-position: center;
    width: 901px;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.common-text i{
    margin-right: 10px;
    font-size: 20px;
}
.banner-button{
    display: flex;
    gap: 10px;
}
.banner-button .btn1{
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-top: 15px;
}
.banner-button .btn2{
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    margin-top: 15px;
}
.banner-section-text{
    margin-top: 25px;
}
