*{
    margin: 0;
    padding: 0;
}
header{
    background: #FFF
}
/* Navbar styles */
nav{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo {
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav-logo img{
    width: 86.041px;
    height: 40px;
}
.nav-header{
    text-align: center;
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
    margin-bottom: 15px;
}
.nav-header span{
    color: #FF42A5;
}
.nav-list-items{
    display: flex;
    margin-top: 5px;
    
}
.li{
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

}
.nav-li{
    display: flex;
    margin-top: 5px;
    margin-left: 25px;
}
.common-text{
    list-style: none;
    color: #3C354F;
    
}

.nav-li-container{
    border: 0px solid black;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
    display: flex;
    margin-left: 30px;
}
.icon{
    margin-left: 10px;
}
.btn-text{
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.text{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* banner section styles */
h1{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 140px;
}
h2{
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    color: transparent ;
    margin-top: 20px;
    background-image:  linear-gradient(180deg, #F948B2 0%, #8758F1 100%); 
    background-clip: text;
    -webkit-background-clip: text;

}
.banner-section-container{
    display: flex;
    justify-content: space-evenly;
}
 .banner-images img{
    max-width: 100%;
    max-height: 80%;
}
.banner-section{
    background: url(images/Group\ 14.png);
    background-position: center;
    width: 901px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.common-text i{
    margin-right: 10px;
    font-size: 20px;
}
.banner-button{
    display: flex;
    gap: 10px;
}
 .btn1{
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-top: 15px;
    cursor: pointer;
    border: none;
}
.banner-button .btn2{
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    margin-top: 15px;
    cursor: pointer;
    border: none;
}
.banner-section-text{
    margin-top: 25px;
}
/* gamer section style */
.we-are-gamer-container{
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}

.gamer-text{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
 }
.gamer-header{
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
}
.gamer-button{
    margin-top: 20px;
}
.gamer-content{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 80px;
    margin-top: 20px;
}
.gamer-text-last{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    margin-top: 15px;
}
/* online games section */
.box-container{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.online-header{
    margin-top: 100px;
    text-align: center;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}
.online-header span{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
}
.online-text{
    text-align: center;
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px; 
}
.box img{
    width: 280px;
    height: 300px;
    margin-top: 25px;
} 
.box p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px; 
}
#position{
    position: absolute;
   top: 25px;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 300px;
}
#position:hover{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.box{
    position: relative;
}
/* Play instantly style */
.play-instantly-container{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    align-items: center;
    margin-top: 100px;
    
}
.play-header{
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: end;
     color: #0B0223;
     padding-left: 50px;
}
.play-header span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#image-1{
    width: 450px;
    height: 400px;
    flex-shrink: 0;
    margin-left: 100px;
}
.play-instantly {
    display: flex;
   margin-left: 100px;
}
#img-1{
    height: 500px;
    width: 400px;
}
#img-2{
    height: 250px;
    position: relative;
    right: 450px;
    top: 300px;

}
.Play-gemes-section{
    display: flex;
    margin-top: 180px;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-right: 100px;
    margin-left: 100px;
}
/* careers style */
#careers-section{
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
height: auto;
width: 100%;
}
.image img{
    width: 100%;
   height: 700px;
   
    
}
.careers{
    display: flex;
    margin-top: 200px;
    justify-content: space-around;
    align-items: center;
}
.career-content-container{
    margin-left: 100px;
    margin-top: 80px;
    
}
.career-text{
    color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}
.career-content p{
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 20px; 
}
.header-careers{
   text-align: start;
   color: #FFF;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    margin-bottom: 30px;
}
.career-content-container .common-text{
    text-align: center;
    
}
.career-content{
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    justify-content: space-around;
    align-items: center;
    text-align: start;
    gap: 50px;
}
.btn-career{
    border-radius: 48px;
    background: #FFF;
    padding: 20px;
    gap: 10px;
    color: #FF42A5;
    font-weight: 600;
    font-size: 20px;
    border: 0px;
    margin-bottom: 25px;
    cursor: pointer;
}
/* logo section style */
.logo-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-evenly;
    margin-left: 80px;
    margin-right: 80px;
    gap: 30px;
}
.btn-logo{
    border: none;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    cursor: pointer;
}
.btn-logo:hover{
    border: 2px solid;
    color: #FF42A5;
    padding: 10px;
}
.btn-logo-text{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
}
/* footer style */
footer{
    width: auto;
    height: 436px;
    background: #0B0223;
    margin-top: 150px;
}
.footer-logo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.footer-logo img{
    width: 86.041px;
    height: 40px;
    margin-top: 100px;
}
.footer-header{
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    color: white;
    margin-top: 100px;
}
.footer-header span{
    color: #FF42A5;
}
.footer-list{
    display: flex;
    list-style: none;
    color: white;
    justify-content: center;
    margin-top: 25px;
}
.footer-text{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    margin-left: 50px;
}
#footer-logo{
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 50px;
    cursor: pointer;
    
}
#footer-logo i{
    
    margin-left: 50px;
}
.condition{
    display: flex;
    justify-content: center;
    align-items: center;
}
.condition li{
    list-style: none;
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
}
.copyright{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;

}
/* Responsive section style */

@media screen and (max-width: 576px) {
    nav, .nav-li-container, .nav-li, .nav-list-items,  .banner-section-container {
        flex-direction: column;
        margin-top: 15px;
    }
    .nav-header{
        margin-top: 100px;
    }
    .banner-section,  .banner-section-container {
        
      width: auto;  
    }
    .we-are-gamer-container, .box-container,.play-instantly-container, .footer-section-container,.footer-list{
        flex-direction: column;
    }
     .gamer-image, {
        width: auto;
    }
    .box-container,.play-instantly-container{
        margin-left: 60px;
    }
    .play-header{
        padding-left: 0px;
    }
    img{
        width: 400px;
        margin-top: 100px;
    }
    .play-header{
        text-align: center;
    }
    .gamer-text {
        text-align: center;
    }
    #img-1{
        margin-left: 100px;
    }
    .logo-container{
       
        
    }
    .btn-logo{
        height: 300px;
        width: 300px;
        padding-bottom: 0px;

    }
    .footer-section-container {
        flex-direction: column;
        height: 700px;
        width: auto;
    }
    .Play-gemes-section{
        flex-direction: column;
    }
    .play-instantly {
        margin-left: 0px;
        
    }
    }
